@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "geist-thin";
  src: url("/fonts/geist/Geist-thin.ttf") format("truetype");
  font-weight: 100 900;
  font-named-instance: "Thin";
}

@font-face {
  font-family: "geist-bold";
  src: url("/fonts/geist/Geist-Bold.ttf") format("truetype");
  font-weight: 100 900;
  font-named-instance: "Bold";
}

@font-face {
  font-family: "geist-light";
  src: url("/fonts/geist/Geist-Light.ttf") format("truetype");
  font-weight: 100 900;
  font-named-instance: "Light";
}

@font-face {
  font-family: "geist-medium";
  src: url("/fonts/geist/Geist-Medium.ttf") format("truetype");
  font-weight: 100 900;
  font-named-instance: "Medium";
}

@font-face {
  font-family: "geist-regular";
  src: url("/fonts/geist/Geist-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-named-instance: "Regular";
}

@font-face {
  font-family: "geist-semibold";
  src: url("/fonts/geist/Geist-SemiBold.ttf") format("truetype");
  font-weight: 100 900;
  font-named-instance: "SemiBold";
}

.login_form_gradient {
  background: linear-gradient(
    176.71deg,
    rgba(18, 18, 18, 0.2) -211.4%,
    rgba(18, 18, 18, 0.611455) -13.03%,
    #121212 91.91%
  );
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid #0000;
  border-right-color: #ffa50097;
  position: relative;
  animation: l24 1s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}
.loader:after {
  animation-duration: 4s;
}
@keyframes l24 {
  100% {
    transform: rotate(1turn);
  }
}

input:focus {
  outline: none;
}
