.app_landing_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1rem;
  padding-top: 3rem;

  &__ctt {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  &__nav {
    &__login {
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 16px;
      color: #919191;
    }

    &__join {
      border-radius: 8px;
      padding: 10px 21px;
      background: #fff;
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 16px;
      color: #505050;
    }
  }
}
