.app_landing_menu {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  width: 100%;
  display: flex;
  justify-content: center;

  &__ctt {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: linear-gradient(
      180deg,
      rgba(18, 18, 18, 0.2) 0%,
      rgba(18, 18, 18, 0.61) 34.38%,
      #121212 72.46%
    );
    border-radius: 10px;
    padding: 12px 17px;
    max-width: 172px;
    width: 100%;
    overflow: hidden;
    gap: 1px;

    &__action {
    }
    .app_logo path {
      transition: all 0.5s ease;
      fill: #2a2a2a;
    }

    &:hover {
      .app_logo path {
        fill: #fff;
      }
    }
  }
}
